<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="<%= root_path %>">Главная</a>
        </li>
        <li>
          <a href="<%= search_efficiency_path %>">Эффективность поиска</a>
        </li>
        <li>
          <a href="#">О программе</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h1>Расширенный поиск для Google академии</h1>

      <!-- Preview Image -->
      <div id="logo">

      </div>
      <div id="search-region">
        <%= form_for :query, url:parse_path,method: :get do |f| %>
          <hr>
          <h3>Формирование поискового запроса</h3>
            <div class="question">
                <h4>Знаете ли вы имя автора статьи?</h4>
                <input type="radio" checked="checked" id ="check_author_yes" name="raz"/>да
                <input type="radio" id ="check_author_no" name="raz" checked/>нет
                 <br>
            </div>
            <div class="well hidden" id="author-in-article">
              <h4>Введите автора научной статьи </h4>
              <div class="input-group">
                <%= f.text_field :author, id:'author', class: 'form-control' %>
              </div>
              <!-- /.input-group -->
            </div>
            <div class="question">
              <h4>Знаете ли вы слова в заголовке статьи?</h4>
              <input type="radio" checked="checked" id ="check_intitle_word_yes" name="keywords"/>да
              <input type="radio" id ="check_intitle_word_no" name="keywords" checked/>нет
              <br>
            </div>
            <div class="well hidden" id="word-title-article">
              <h4>Введите слово в заголовке статьи</h4>
              <div class="input-group">
                <%= f.text_field :word_title, id:'word_title', class: 'form-control' %>
              </div>
            </div>
          <div class="well" id="all-words-in-article">
            <h4>Введите ключевые слова</h4>
            <div class="input-group">
              <%= f.text_field :all_words, id:'all_words', class: 'form-control' %>
            </div>
            <h4>Введите ключевые словосочетания словосочетания</h4>
            <div class="input-group">
              <%= f.text_field :collocation, id:'collocation', class: 'form-control' %>
            </div>
          </div>
        <div class="question">
           <h4>Хотите ли вы уточнить выдачу документов?</h4>
           <input type="radio" checked="checked" id ="check_refinement_of_yes" name="refinement"/>да
           <input type="radio" id ="check_refinement_of_no" name="refinement" checked/>нет
           <br>
        </div>
        <div class="well hidden" id="refinement-of-article">
          <h4>Тип файлов выдачи</h4>
          <%= f.select(:file_type, ['PDF', 'DOC'], {include_blank: "Любые"}, { :class => 'selectpicker', :id => 'file_type' }) %>
          <h4>Выберите предметную область поиска</h4>
          <%= f.select(:area, [], {include_blank: "Любая"}, { :class => 'form-control', :id => 'area' })  do %>
              <% @science_area.each do |area| %>
                  <option> <%= area[:name] %> </option>
              <% end %>
          <% end %>
          <%= f.label :label_check_area,{ :class => 'checkbox-inline'} do %>
              <%= f.check_box :check_area, id: 'check_area' %>Включить слово в запрос
          <% end %>
          <%= f.select(:subject, [], {include_blank: "Любая"}, { :class => 'form-control',:id => 'subject' })%>
          <%= f.label :label_check_subject, { :class => 'checkbox-inline'} do  %>
              <%= f.check_box :check_subject, id: 'check_subject' %>Включить слово в запрос
          <% end %>
          <%= f.select(:term, [], {include_blank: "Любая"}, {:class => 'form-control', :id => 'term' }) %>
          <%= f.label :label_check_subject,{:class => 'checkbox-inline'} do %>
              <%= f.check_box :check_term, id: 'check_term' %>Включить слово в запрос
          <% end %>

          <h4>Отсеить слова,которые не касаются вашей предметной области?</h4>
          <%= f.select(:unnecessary_area, [], {include_blank: "Любая"}, { :class => 'form-control', :id => 'unnecessary_area' })  do %>
              <% @science_area.each do |area| %>
                  <option> <%= area[:name] %> </option>
              <% end %>
          <% end %>
          <%= f.label :label_check_area,{ :class => 'checkbox-inline'} do %>
              <%= f.check_box :check_unnecessary_area, id: 'check_unnecessary_area' %>Включить слово в запрос
          <% end %>
          <%= f.select(:unnecessary_subject, [], {include_blank: "Любая"}, { :class => 'form-control',:id => 'unnecessary_subject' })%>
          <%= f.label :label_check_subject, { :class => 'checkbox-inline'} do  %>
              <%= f.check_box :check_unnecessary_subject, id: 'check_unnecessary_subject' %>Включить слово в запрос
          <% end %>

          <br>
          <%= f.select(:unnecessary_terms, [], {include_blank: "Любая"}, {:class => 'selectpicker', :id => 'unnecessary_terms', 'data-live-search' => 'true', :multiple => '', :title =>'Выберите слова' }) do %>

          <% end %>
          <br>
          <%= f.label :label_check_term,{ :class => 'checkbox-inline'} do %>
              <%= f.check_box :check_unnecessary_term, id: 'check_unnecessary_term' %>Включить слова в запрос
          <% end %>
        </div>

        <div class="button_container">
            <button type="submit" class="btn btn-primary">Отправить запрос</button>
        </div>
      <% end %>
      </div>

      <hr>
    </div>
    <div class="col-lg-8">

    </div>
  <!-- /.row -->
  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Made by Aleksey Morozov </p>
      </div>
    </div>
    <!-- /.row -->
  </footer>

  </div>
</div>



<!-- /.container -->

